.pet_box {
  cursor: pointer;
  display: inline-block;
  width: 48%;
  padding: 1%;
  overflow: overlay;
  border: 1px solid #ddd;
  margin: 10px 1%;
}
.thumb {
  display: inline-block;
  background: url('../../assets/imgs/no-image.png');
  width: 200px;
  height: 100px;
}
.banner {
  width: 100%;
  max-height: 20em;
}
