<ion-header>
    <div class="relay" (click)="close()" *ngIf="menu"></div>
    <ion-list *ngIf="!this.service.islogged && menu" class="menu" (click)="close()">
      <ion-item color="secondary">
        {{lang.support}}
      </ion-item>
      <ion-item (click)="support()" class="clickable">
        {{lang.about}}
      </ion-item>
      <ion-item (click)="about()" class="clickable">
        {{lang.contact}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="this.service.islogged && menu" class="menu" (click)="close()">
      <ion-item color="secondary">
        {{lang.account}}
      </ion-item>
      <ion-item (click)="sale()" class="clickable">
        {{lang.sale_manager}}
      </ion-item>
      <ion-item>
        {{lang.bookmark}}
      </ion-item>
      <ion-item (click)="service.logout()" class="clickable">
        {{lang.logout}}
      </ion-item>
      <ion-item (click)="support()" color="secondary">
        {{lang.support}}
      </ion-item>
      <ion-item (click)="about()" class="clickable">
        {{lang.about}}
      </ion-item>
      <ion-item class="clickable">
        {{lang.contact}}
      </ion-item>
    </ion-list>
  <ion-row>
    <ion-col col-4 (click)="filterall()" class="{{active[activebar[0]]}} navcol" *ngIf="activebar[0]">
      <ion-icon name="home"></ion-icon>
      <!-- {{lang.home}} -->
    </ion-col>
    <ion-col col-2 (click)="filterall()" class="{{active[activebar[0]]}} navcol" *ngIf="!activebar[0]">
      <ion-icon name="home"></ion-icon>
      <!-- {{lang.home}} -->
    </ion-col>
    <ion-col col-4 class="searchbar {{active[activebar[4]]}} navcol" (click)="search()" *ngIf="activebar[4]">
      <ion-icon name="search"></ion-icon>
      <!-- {{lang.home}} -->
    </ion-col>
    <ion-col col-2 class="searchbar {{active[activebar[4]]}} navcol" (click)="search()" *ngIf="!activebar[4]">
      <ion-icon name="search"></ion-icon>
      <!-- {{lang.home}} -->
    </ion-col>
    <ion-col col-4 (click)="login()" class="{{active[activebar[1]]}} navcol" *ngIf="activebar[1]">
      <ion-icon name="contact"></ion-icon>
      <!-- {{lang.user}} -->
    </ion-col>
    <ion-col col-2 (click)="login()" class="{{active[activebar[1]]}} navcol" *ngIf="!activebar[1]">
      <ion-icon name="contact"></ion-icon>
      <!-- {{lang.user}} -->
    </ion-col>
    <ion-col col-4 (click)="inbox()" class="{{active[activebar[2]]}} navcol" *ngIf="activebar[2]">
      <ion-icon name="mail"></ion-icon>
      <!-- {{lang.messenger}} -->
    </ion-col>
    <ion-col col-2 (click)="inbox()" class="{{active[activebar[2]]}} navcol" *ngIf="!activebar[2]">
      <ion-icon name="mail"></ion-icon>
      <!-- {{lang.messenger}} -->
    </ion-col>
    <ion-col col-4 (click)="open()" class="{{active[activebar[3]]}} navcol" *ngIf="activebar[3]" >
      <ion-icon name="menu"></ion-icon>
      <!-- {{lang.menu}} -->
    </ion-col>
    <ion-col col-2 (click)="open()" class="{{active[activebar[3]]}} navcol" *ngIf="!activebar[3]">
      <ion-icon name="menu"></ion-icon>
      <!-- {{lang.menu}} -->
    </ion-col>
  </ion-row>
  <!-- <span style="float: right; line-height: 32px;" *ngIf="this.service.islogged">
    {{this.service.name}}
  </span> -->
</ion-header>

<ion-content>
  <div class="remand" *ngIf="activebar[4]" (click)="bsearch()"></div>
  <div class="searchpanel" *ngIf="activebar[4]" style="background: white; z-index: 5;">
    <form (ngSubmit)="filtersuball()">
      <ion-item>
        <ion-label> {{lang.keyword}} </ion-label>
        <ion-input #input type="text" [(ngModel)]="filter.keyword" name="keyword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> {{lang.type}} </ion-label>
        <ion-select [(ngModel)]="filter.type" name="type">
          <ion-option *ngFor="let option of service.type; let i = index" value="{{i}}"> {{option}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label> {{lang.sort}} </ion-label>
        <ion-select [(ngModel)]="filter.sort" name="sort">
          <ion-option *ngFor="let option of service.sort; let i = index" value="{{i}}"> {{option}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label> {{lang.kind}} </ion-label>
        <ion-select [(ngModel)]="filter.kind" name="kind">
          <ion-option *ngFor="let option of service.kind" value="{{option.id}}"> {{option.name}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="filter.kind">
        <ion-label> {{lang.species}} </ion-label>
        <ion-select [(ngModel)]="filter.species" name="species">
          <ion-option *ngFor="let option of service.species[filter.kind]" value="{{option.id}}">
            {{option.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label> {{lang.province}} </ion-label>
        <ion-select [(ngModel)]="filter.province" name="province">
          <ion-option *ngFor="let option of service.config['province']; let i = index;" value="{{i}}">
            {{option}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          {{lang.price}}: {{unit(service.price[filter.price.lower] * 1000)}} - {{unit(service.price[filter.price.upper] * 1000)}} 
        </ion-label>
        <ion-range dualKnobs="true" min="0" max="73" step="1" [(ngModel)]="filter.price" name="price"></ion-range>
      </ion-item>
      <button ion-button block> {{lang.filter}} </button>
    </form>
  </div>

  <div *ngIf="activebar[0]">
    <div *ngIf="service.config.banner">
      <img src="{{service.baseurl + service.config.banner}}" class="banner">
    </div>
    <div *ngFor="let pet of service.newpet; let i = index" class="pet_box" (click)="detail(i)">
      <div class="petboxintro i{{pet.typeid}}">
        {{service.type[pet.typeid]}}
      </div>
      <img class="thumb" src="{{pet.image[0]}}">
      <p> &#9; {{pet.name}} </p>
      <p> &#9; {{pet.owner}} | {{pet.province}} </p>
      <span class="price"> &#9; {{pet.price}} </span>
      <span class="timer right"> {{pet.timer}} </span>
    </div>
    <button ion-button block *ngIf="isnext" (click)="next()">
      Tải thêm
    </button>
  </div>

  <div *ngIf="activebar[1]">
    <div *ngIf="service.uid">
      <div class="h4l">
        <ion-list>
          <ion-item color="primary">
            {{lang.infomation}}
            <ion-icon name="create" class="right clickable nav-icon" (click)="changeinfo()"></ion-icon>
          </ion-item>
          <ion-item>
            {{lang.name}}:
            <p class="right">
              {{service.name}}
            </p>  
          </ion-item>
          <ion-item>
            {{lang.phone}}:
            <p class="right">
              {{service.phone}}
            </p>
          </ion-item>
          <ion-item>
            {{lang.address}}:
            <p class="right">
              {{service.address}}
            </p>
          </ion-item>
          <form (ngSubmit)="changeprovince()">
            <ion-item>
              <ion-label>
                {{lang.province}}
              </ion-label>
              <ion-select [(ngModel)]="province" name="province">
                <ion-option *ngFor="let option of service.config.province; let i = index;" value="{{i}}">
                  {{option}}
                </ion-option>
              </ion-select>
            </ion-item>
            <button ion-button>
              {{lang.changeprovince}}
            </button>
          </form>
        </ion-list>
      </div>
      <div class="h4r">
        <ion-list>
          <ion-item color="primary">
            {{lang.account_manager}}
          </ion-item>
          <ion-item (click)="changepass()" class="clickable">
            {{lang.changepass}}
          </ion-item>
          <ion-item (click)="service.logout()" class="clickable">
            {{lang.logout}}
          </ion-item>
        </ion-list>
      </div>
    </div>
    <form (ngSubmit)="submit()" class="panel" *ngIf="!service.uid">
      <img src="../../assets/imgs/pet-logo.png" class="logo">
      <ion-item>
        <ion-label> {{lang.username}} </ion-label>
        <ion-input type="text" [(ngModel)]="this.user.username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> {{lang.password}} </ion-label>
        <ion-input type="password" [(ngModel)]="this.user.password" name="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="submitType">
        <ion-label> {{lang.vpassword}} </ion-label>
        <ion-input type="password" [(ngModel)]="this.user.vpassword" name="vpassword"></ion-input>
      </ion-item>
      <ion-item *ngIf="submitType">
        <ion-label> {{lang.fullname}} </ion-label>
        <ion-input type="text" [(ngModel)]="this.user.name" name="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="submitType">
        <ion-label> {{lang.phone}} </ion-label>
        <ion-input type="text" [(ngModel)]="this.user.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item *ngIf="submitType">
        <ion-label> {{lang.address}} </ion-label>
        <ion-input type="text" [(ngModel)]="this.user.address" name="address"></ion-input>
      </ion-item>
      <ion-item *ngIf="submitType">
        <ion-label> {{lang.province}} </ion-label>
        <ion-select [(ngModel)]="this.user.province" name="province">
          <ion-option *ngFor="let option of service.config.province; let i = index" value="{{i}}">
            {{option}}
          </ion-option>
        </ion-select>
      </ion-item>
      <button ion-button color="secondary" type="submit" class="button-half"> {{submitButton[submitType]}} </button>
      <button ion-button type="button" class="button-half" *ngIf="!submitType" (click)="nousername()">
        {{lang.nousername}}
      </button>
      <button ion-button type="button" class="button-half" *ngIf="submitType" (click)="haveusername()">
        {{lang.haveusername}}
      </button>
    </form>
  </div>
  <ion-list *ngIf="activebar[2]">
    <div *ngIf="service.uid">
      <ion-item *ngFor="let noti of notifice" (click)="tonotify(noti.type, noti.pid)">
        <div class="clickable">
          <span *ngIf="noti.type < 6">
            {{noti.name}}
          </span>
          <span *ngIf="noti.type == '1'">
            {{lang.noti1}}
          </span>
          <span *ngIf="noti.type == '2'">
            {{lang.noti2}}
          </span>
          <span *ngIf="noti.type == '3'">
            {{lang.noti3}}
          </span>
          <span *ngIf="noti.type == '4'">
            {{lang.noti4}}
          </span>
          <span *ngIf="noti.type == '5'">
            {{lang.noti5}}
          </span>
          <span *ngIf="noti.type == '6'">
            {{lang.noti6}}
          </span>
          <span *ngIf="noti.type == '7'">
            {{lang.noti7}}
          </span>
          <span>
            : {{noti.title}}
          </span>
          <p class="right">{{noti.time}}</p>
        </div>
      </ion-item>
    </div>
    <div *ngIf="!service.uid" class="notice">
      {{lang.pleaselogin}}
    </div>
  </ion-list>
</ion-content>
