<ion-menu side="right" [content]="mycontent" class="toggle-menu">
  <ion-content class="list-menu">
    <ion-list *ngIf="!this.service.islogged">
      <ion-item color="secondary">
        {{lang.menu}}
      </ion-item>
      <ion-item>
        {{lang.dog}}
      </ion-item>
      <ion-item>
        {{lang.cat}}
      </ion-item>
      <ion-item>
        {{lang.other}}
      </ion-item>
      <ion-item color="secondary">
        {{lang.support}}
      </ion-item>
      <ion-item>
        {{lang.about}}
      </ion-item>
      <ion-item>
        {{lang.contact}}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="this.service.islogged">
      <ion-item color="secondary">
        {{lang.account}}
      </ion-item>
      <ion-item>
        {{lang.account_manager}}
      </ion-item>
      <ion-item (click)="sale()">
        {{lang.sale_manager}}
      </ion-item>
      <ion-item>
        {{lang.bookmark}}
      </ion-item>
      <ion-item (click)="service.logout()">
        {{lang.logout}}
      </ion-item>
      <ion-item color="secondary">
        {{lang.support}}
      </ion-item>
      <ion-item>
        {{lang.about}}
      </ion-item>
      <ion-item>
        {{lang.contact}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="../../assets/imgs/pet-logo.png" class="mini-icon main-logo" (click)="home()">
      <span>
        {{lang.logo}}
      </span>
      <ion-icon name="menu" class="nav-icon" menuToggle></ion-icon>
      <ion-icon name="refresh" class="nav-icon" (click)="refresh()"></ion-icon>
      <ion-icon name="mail" class="nav-icon" (click)="inbox()"></ion-icon>
      <ion-icon name="contact" class="nav-icon" *ngIf="!this.service.islogged" (click)="login()"></ion-icon>
      <span style="float: right; line-height: 32px;" *ngIf="this.service.islogged">
        {{this.service.name}}
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="service.config.banner">
    <img src="{{service.baseurl + service.config.banner}}" class="banner">
  </div>
  <form (ngSubmit)="filterall()" class="h2l">
    <ion-item>
      <ion-label>
        {{lang.keyword}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="filter.keyword" name="keyword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        {{lang.sort}}
      </ion-label>
      <ion-select [(ngModel)]="filter.sort" name="sort">
        <ion-option *ngFor="let option of service.sort; let i = index" value="{{i}}">
          {{option}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{lang.kind}}
      </ion-label>
      <ion-select [(ngModel)]="filter.kind" name="kind">
        <ion-option *ngFor="let option of service.kind" value="{{option.id}}">
          {{option.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="filter.kind">
      <ion-label>
        {{lang.species}}
      </ion-label>
      <ion-select [(ngModel)]="filter.species" name="species">
        <ion-option *ngFor="let option of service.species[filter.kind]" value="{{option.id}}">
          {{option.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{lang.price}}: {{unit(service.price[filter.price.lower] * 1000)}} - {{unit(service.price[filter.price.upper] * 1000)}} 
      </ion-label>
      <ion-range dualKnobs="true" min="0" max="73" step="1" [(ngModel)]="filter.price" name="price"></ion-range>
    </ion-item>
    <!-- <ion-item>
      <ion-label> {{lang.price}} </ion-label>
      <ion-range min="18" max="100" dualKnobs="true" pin="true" [(ngModel)]="setdage" name="setdage" color="danger">
        <ion-label range-left>18</ion-label>
        <ion-label range-right>100+</ion-label>
      </ion-range>
    </ion-item> -->
    <button ion-button block>
      {{lang.filter}}
    </button>
    <!-- <ion-item>
      <ion-label>
        {{lang.species}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="filter.species" name="species"></ion-input>
    </ion-item> -->
  </form>
  <div class="h2r">
    <div *ngFor="let pet of service.newpet; let i = index" class="pet_box" (click)="detail(i)">
      <img class="thumb" src="{{pet.image[0]}}">
      <div>
        <p>
          &#9; {{pet.name}}
        </p>
        <p>
          &#9; {{pet.provide}}
        </p>
        <p>
          &#9; {{lang.poster}} {{pet.owner}}
        </p>
        <p class="description">
          &#9; {{pet.description}}
        </p>
        <p>
          &#9; {{lang.age}} {{pet.age}}
        </p>
        <span class="price">
          &#9; {{pet.price}}
        </span>
        <span class="timer right">
          {{pet.timer}}
        </span>
      </div>
    </div>
  </div>
</ion-content>
