<ion-header>
  <ion-row>
    <ion-col (click)="back()" class="navcol">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-col>
    <ion-col col-2 (click)="sell()" class="{{active[activebar[0]]}} navcol">
      <ion-icon name="home"></ion-icon>
      <p class="subtitle"> {{lang.sell}} </p>
    </ion-col>
    <ion-col col-2 (click)="buy()" class="{{active[activebar[1]]}} navcol">
      <ion-icon name="contact"></ion-icon>
      <p class="subtitle"> {{lang.buy}} </p>
    </ion-col>
    <ion-col col-2 (click)="order()" class="{{active[activebar[2]]}} navcol">
      <ion-icon name="mail"></ion-icon>
      <p class="subtitle"> {{lang.order}} </p>
    </ion-col>
    <ion-col col-2 (click)="sold()" class="{{active[activebar[3]]}} navcol">
      <ion-icon name="menu"></ion-icon>
      <p class="subtitle"> {{lang.sold}} </p>
    </ion-col>
    <ion-col col-2 class="searchbar {{active[activebar[4]]}} navcol" (click)="bought()">
      <ion-icon name="search"></ion-icon>
      <p class="subtitle"> {{lang.bought}} </p>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div>
  <!-- <div class="h2l"> -->
    <ion-icon class="nav-icon" name="add-circle" (click)="post()"></ion-icon>
    <form (ngSubmit)="filterall()">
      <ion-item>
        <ion-label>
          {{lang.keyword}}
        </ion-label>
        <ion-input type="text" [(ngModel)]="filter.keyword" name="keyword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          {{lang.sort}}
        </ion-label>
        <ion-select [(ngModel)]="filter.sort" name="sort">
          <ion-option *ngFor="let option of service.sort; let i = index" value="{{i}}">
            {{option}}
          </ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block>
        {{lang.filter}}
      </button>
    </form>
  </div>
  <div>
  <!-- <div class="h2r"> -->
    <div *ngFor="let pet of service.userpet; let i = index" class="pet_box">
      <div>
        <div class="pet-box-option" *ngIf="type == 0">
          <!-- sell -->
          <ion-icon name="create" (click)="edit(pet.id, pet.name, pet.date, pet.price, pet.description, pet.kind, pet.species)"></ion-icon>
          <ion-icon name="trash" (click)="remove(pet.id)"></ion-icon>
        </div>
        <div class="pet-box-option" *ngIf="type == 1">
          <!-- buy -->
          <ion-icon name="trash" (click)="disorder(pet.oid)"></ion-icon>
        </div>
        <div>
          <img class="thumb" src="{{pet.image[0]}}">
          <p> &#9; {{pet.name}} </p>
          <span class="price"> &#9; {{pet.price}} </span>
          <span class="timer right"> {{pet.timer}} </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
