.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.pet_box {
  position: relative;
}
.pet-box-option {
  text-align: right;
  display: none;
  font-size: 20px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.75;
}
.pet-box-option ion-icon {
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.pet-box-option ion-icon:hover {
  background: white;
}
.pet_box:hover .pet-box-option {
  display: block;
  transition-duration: 500ms;
}

.modal-wrapper {
  overflow-y: scroll !important;
  background: white;
}

form.sale {
  width: 100%;
  margin: 0px;
}