* {
  color: #333;
}
.item-md-primary ion-label {
  color: white;
  font-weight: bold;
}
.button-inner {
  color: white;
  font-weight: bold;
}
.alert-md .alert-button {
  background: #488aff;
}
.toolbar-background {
  background: #59BE30;
}
.toolbar-title, .back-button-icon {
  color: white;
}
.mini-icon {
  width: 32px;
  height: 32px;
}
.nav-icon {
  color: green;
  float: right;
  margin: 0px 10px;
  font-size: 32px;
  cursor: pointer;
}
.nav-icon:hover {
  color: red;
  opacity: 0.5;
  transition-duration: 500ms;
}
.left {
  float: left;
}
.right {
  float: right;
}
.timer {
  right: 20px;
  position: absolute;
}
.pet-subinfo {
  margin: 10px 0px;
  font-size: 1.1em;
}
.price {
  color: #d22;
}
.slides {
  height: auto !important;
}
.h1l, .h1r {
  width: 100%;
  float: none;
}
.h1r {
  position: static;
}
.h2l, .h2r {
  float: none;
  width: 100%;
}
.h2l {
  position: static;
}
.h2 {
  clear: both;
}

.pet_box {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  padding: 5px;
  text-align: left;
  position: relative;
}

.clickable {
  cursor: pointer;
}
.clickable ion-label, .clickable span {
  color: #488AFF;
}

.pet_box div {
  padding: 5px;
  position: relative;
}

.pet_box p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.pet-box-option {
  text-align: right;
  display: none;
  font-size: 20px;
  background: lightgreen;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.85;
  margin: 0px !important;
  z-index: 10;
}
.pet-box-option ion-icon {
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.pet-box-option ion-icon:hover {
  background: white;
}
.pet_box:hover .pet-box-option {
  display: block;
  transition-duration: 500ms;
}

.petboxintro {
  opacity: 0.85;
  top: 0px;
  right: 0px;
  font-size: 0.75em;
  position: absolute !important;
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.i0 {
  background: #3a0;
}
.i1 {
  background: #a30;
}
.i2 {
  background: #30a;
}
.i3 {
  background: #a03;
}

.green {
  background: #afa;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  float: right;
}
.blue {
  background: #aaf;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  position: relative;
}

.thumb {
  display: inline-block;
  width: 100%;
  height: 100px;
  background: url("../assets/imgs/noimage.png");
}
.gallery {
  background: url("../assets/imgs/lg-noimage.png");
}
.banner {
  width: 100%;
  max-height: 20em;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.modal-wrapper {
  background: white;
}

.ion-page.show-page {
  overflow-y: scroll !important;
}

form.sale {
  width: 100%;
  margin: 0px;
}
ion-content.panel {
  background: #eee !important;
}
form.panel {
  background: #fff;
  width: 400px;
  margin: 50px auto;
  border: 1px solid #ddd;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
}
.logo {
  margin: 30px 0px;
}
.button-half {
  width: 46%;
  margin: 20px 0px 0px 0px;
}

.active {
  background: #3a0;
}
.active ion-icon {
  color: white !important;
}

.modal {
  padding: 10px;
}

.searchinput, .searchinput input {
  margin: 0px !important;
}
.searchinput input {
  background: white;
  border-radius: 10px;
  padding: 0px 5px;
  position: absolute;
  left: 0px;
}
.closeicon {
  position: absolute;
  font-size: 32px;
  right: 32px;
  color: #f00;
  cursor: pointer;
}
.searchicon {
  position: absolute;
  font-size: 32px;
  right: 52px;
  color: #ccc;
  cursor: pointer;
}
.searchbar {
  text-align: center;
  position: relative;
}
.searchpanel {
  background: white;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.remand {
  position: fixed;
  z-index: 4;
  background: #aaa;
  width: 100%;
  height: 1000px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.navcol {
  text-align: center;
  color: #444;
  font-weight: bold;
}
ion-header {
  background: #9c6;
  line-height: 30px;
  border-bottom: 2px solid #3a0;
}
.navcol:hover {
  opacity: 0.5;
  background: #3a0;
}

.subtitle {
  color: white;
  font-size: 10px;
  margin: 0px;
  line-height: 0px;
}

.shover ion-icon {
  color: gold !important;
}

.notice {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.star {
  font-size: 20px;
}

.ctime {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.8;
  font-size: 10px !important;
  background: black;
  color: white !important;
  padding: 0px 2px;
  border-radius: 10px;
  display: none;
}
.textarea {
  position: relative;
  font-size: 1.25em;
}
.textplaceholder {
  position: absolute;
  left: 10px;
  top: 0px;
  color: #aaa;
  font-weight: bold;
}
div.blue:hover .ctime, div.green:hover .ctime {
  display: block;
}

form.sale {
  text-align: center;
}

.sale .thumb {
  width: 120px;
}

.cmttime {
  float: right;
}

.menu {
  width: 50%;
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 7;
  border: 2px solid #fff;
}
.relay {
  top: 0px;
  left: 0px;
  width: 100%;
  background: #000;
  opacity: 0.75;
  height: -webkit-fill-available;
  position: absolute;
  z-index: 6;
}
.navback span {
  font-size: 1.2em;
  color: white !important;
}
.navback ion-icon {
  font-size: 2em;
  color: white !important;
  margin-right: 10px;
}
@media screen and (min-width: 576px) {
  .menu {
    width: 40%;
  }
  form {
    width: 100%;
    margin: auto;
  }
  .h1l {
    clear: both;
    float: left;
    width: 49%;
  }
  .h1r {
    float: right;
    width: 49%;
    margin: 0;
    position: sticky;
    top: 0px;
  }
  .h4l {
    border: 1px solid #ddd;
    border-radius: 10px;
    clear: both;
    float: left;
    width: 49%;
  }
  .h4r {
    border: 1px solid #ddd;
    border-radius: 10px;
    float: right;
    width: 49%;
    margin: 0;
    position: sticky;
    top: 0px;
  }
  .h4l ion-item, .h4r ion-item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .pet_box {
    width: 33.3%;
  }
  .h2l {
    float: left;
    width: 240px;
    margin: 0;
    padding: 2px 0 0 12px;
    position: sticky;
    top: 0px;
  }
  .h2r {
    float: right;
    width: calc(100% - 240px);
  }
  .subtitle {
    font-size: 15px;
    font-weight: normal;
  }
}
@media screen and (min-width: 786px) {
  .pet_box {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .pet_box {
    width: 16.6%;
  }
}
