// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background: #59BE30;
}
.toolbar-title, .back-button-icon {
  color: white;
}
.mini-icon {
  width: 32px;
  height: 32px;
}
.nav-icon {
  color: white;
  float: right;
  margin: 0px 10px;
  font-size: 32px;
  cursor: pointer;
}
.nav-icon:hover {
  color: red;
  opacity: 0.5;
  transition-duration: 500ms;
}
.left {
  float: left;
}
.right {
  float: right;
}