ion-content.panel {
  background: #eee !important;
}
form {
  background: #fff;
  width: 400px;
  margin: 50px auto;
  border: 1px solid #ddd;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
}
.logo {
  margin: 30px 0px;
}
.button-half {
  width: 46%;
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 480px) {
  form {
    width: 100%;
    margin: auto;
  }
}