<ion-menu side="overlay" [content]="mycontent" class="toggle-menu">
  <ion-content class="list-menu">
    <ion-list *ngIf="!this.service.islogged">
      <ion-item color="secondary">
        {{lang.menu}}
      </ion-item>
      <ion-item>
        {lang.dog}
      </ion-item>
      <ion-item>
        {lang.cat}
      </ion-item>
      <ion-item>
        {lang.other}
      </ion-item>
      <ion-item color="secondary">
        {{lang.support}}
      </ion-item>
      <ion-item>
        {lang.about}
      </ion-item>
      <ion-item>
        {lang.contact}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="this.service.islogged">
      <ion-item color="secondary">
        {{lang.account}}
      </ion-item>
      <ion-item>
        {{lang.account_manager}}
      </ion-item>
      <ion-item>
        {{lang.sale_manager}}
      </ion-item>
      <ion-item>
        {{lang.bookmark}}
      </ion-item>
      <ion-item>
        {{lang.logout}}
      </ion-item>
      <ion-item color="secondary">
        {{lang.menu}}
      </ion-item>
      <ion-item>
        {lang.dog}
      </ion-item>
      <ion-item>
        {lang.cat}
      </ion-item>
      <ion-item>
        {lang.other}
      </ion-item>
      <ion-item color="secondary">
        {{lang.support}}
      </ion-item>
      <ion-item>
        {lang.about}
      </ion-item>
      <ion-item>
        {lang.contact}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar>
    <ion-title>
      {{lang.account_manager}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="info-box">
    <div class="info-head">
      <!-- position absolute -->
    </div>
    <ion-card-content class="info-content">
      <ion-list>
        <ion-item>
          {{lang.name}}: {{service.name}}
        </ion-item>
        <ion-item>
          {{lang.phone}}: {{service.phone}}
        </ion-item>
        <ion-item>
          {{lang.address}}: {{service.address}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <div class="carosel">
    <ion-card *ngFor="let pet of listpet">
      <div class="pet-info-box">
        position absolute
      </div>
      <img src="{{pet['name']}}">
      <ion-item>
        <ion-icon name="pricetag"></ion-icon>
        <p class="price">
          {{pet["price"]}}
        </p>
      </ion-item>
    </ion-card>
  </div> -->
</ion-content>
