<ion-header>
  <ion-row>
    <ion-col col-2 class="navcol" (click)="back()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-col>
    <ion-col col-2 class="{{active[activebar[0]]}} navcol" *ngIf="!activebar[0]" (click)="refresh()">
      <ion-icon name="cart"></ion-icon>
    </ion-col>
    <ion-col col-4 class="{{active[activebar[0]]}} navcol" *ngIf="activebar[0]" (click)="refresh()">
      <ion-icon name="cart"></ion-icon>
    </ion-col>
    <ion-col col-2 class="{{active[activebar[2]]}} navcol" *ngIf="!activebar[2]" (click)="crate()">
      <ion-icon name="star"></ion-icon>
    </ion-col>
    <ion-col col-4 class="{{active[activebar[2]]}} navcol" *ngIf="activebar[2]" (click)="crate()">
      <ion-icon name="star"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div *ngIf="service.isconnect">
      <div *ngIf="activebar[0]">
          <ion-item color="secondary">
            {{lang.vender}} {{provider.name}}
          </ion-item>
          <div *ngIf="service.config.banner">
            <img src="{{service.baseurl + service.config.banner}}" class="banner">
          </div>
          <div *ngFor="let pet of propet; let i = index" class="pet_box" (click)="detail(i)">
            <div class="petboxintro i{{pet.typeid}}">
              {{service.type[pet.typeid]}}
            </div>
            <img class="thumb" src="{{pet.image[0]}}">
            <p> &#9; {{pet.name}} </p>
            <p> &#9; {{pet.owner}} | {{pet.province}} </p>
            <span class="price"> &#9; {{pet.price}} </span>
            <span class="timer right"> {{pet.timer}} </span>
          </div>
          <button ion-button block (click)="next()" *ngIf="isnext">
            {{lang.loadmore}}
          </button>
        </div>
      
        <div *ngIf="activebar[2]">
          <ion-item>
            <b> {{lang.totalrate}} </b>
            <p class="right">
              {{rate.total}}
            </p>
          </ion-item>
          <ion-item>
            <b> {{lang.averagerate}} </b>
            <p class="right">
              {{rate.average}}
            </p>
          </ion-item>
          <ion-item>
            <b> {{lang.totalsale}} </b>
            <p class="right">
              {{rate.totalsale}}
            </p>
          </ion-item>
          <ion-item color="secondary">
            {{lang.review}}
          </ion-item>
          <div *ngFor="let c of rate.comment">
            <ion-item>
              {{c.name}}: {{c.msg}}
              <p class="cmttime">
                {{c.time}}
              </p>
            </ion-item>
          </div>
          <button ion-button block (click)="getnextrate()" *ngIf="isrnext">
            {{lang["loadmore"]}}
          </button>
        </div>
  </div>
  <div *ngIf="!service.isconnect">
      <p>
          {{lang.nointernet}}
        </p>
        <button ion-button (click)="reconnect()">
          {{lang.reload}}
        </button>

  </div>
</ion-content>
