<div class="head-navbar">
  <div class="head-col-2" (click)="back()">
    <div class="head-title">
      <ion-icon name="arrow-round-back"></ion-icon>
    </div>
  </div>
</div>

<ion-content>
  <div class="nav_box">
    <div class="nav_box_item" *ngFor="let item of func_list; let i = index" (click)="set_nav(i)">
      {{item}}
    </div>
  </div>
  <ion-card *ngIf="nav_index == 0">
    <ion-card-header>
        {{lang.admin_title}}
        <ion-icon name="create" (click)="add_kind()" *ngIf="service.p.kind"></ion-icon>
    </ion-card-header>
    <ion-list>
      <div *ngFor="let kind of species_list">
        <ion-item *ngIf="kind.id != 0">
          <div class="kind_title">
            {{kind.name}}
            <ion-icon name="create" (click)="add_species(kind.id)" *ngIf="service.p.kind"></ion-icon>
            <ion-icon name="trash" (click)="remove_kind(kind.id)" *ngIf="service.p.kind"></ion-icon>
          </div>
          <div *ngFor="let species of kind.list" class="species_title">
            {{species.name}}
            <ion-icon name="trash" (click)="remove_species(species.id)" *ngIf="service.p.kind"></ion-icon>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
  <!-- <div class="admin_content">
    <div class="admin_content_list_title">
    </div>
    <div *ngFor="let kind of species_list">
    </div>
  </div> -->
  <div class="admin_content" *ngIf="nav_index == 1">
    <button ion-button (click)="add_user()" *ngIf="service.p.user"> {{lang.add}} </button>
    <!-- user -->
    <ion-row>
      <ion-col col-1>
        {{lang.index}}
      </ion-col>
      <ion-col col-2>
        {{lang.username}}
      </ion-col>
      <ion-col col-2>
        {{lang.name}}
      </ion-col>
      <ion-col col-2>
        {{lang.role}}
      </ion-col>
      <ion-col col-4>
        {{lang.roles}}
      </ion-col>
      <ion-col col-1> </ion-col>
    </ion-row>
    <div class="hover_list">
      <ion-row *ngFor="let user of user_list">
        <ion-col col-1>
          {{user.index}}
        </ion-col>
        <ion-col col-2>
          {{user.username}}
        </ion-col>
        <ion-col col-2>
          {{user.name}}
        </ion-col>
        <ion-col col-2>
          {{user.role_s}}
        </ion-col>
        <ion-col col-4>
          {{user.roles_s}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="trash" (click)="remove_user(user.id)" *ngIf="service.p.user && user.role < 3"></ion-icon>
          <ion-icon name="create" (click)="edit_user(user)" *ngIf="service.p.user && user.role < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <button ion-button (click)="moreuser()" *ngIf="isusernext">
      {{lang.loadmore}}
    </button>
  </div>
  <div class="admin_content" *ngIf="nav_index == 2">
    <ion-row>
      <ion-col col-1>
        {{lang.index}}
      </ion-col>
      <ion-col col-3>
        {{lang.title}}
      </ion-col>
      <ion-col col-3>
        {{lang.name}}
      </ion-col>
      <ion-col col-1>
        {{lang.posttype}}
      </ion-col>
      <ion-col col-2>
        {{lang.phone}}
      </ion-col>
      <ion-col col-2>
        {{lang.address}}
      </ion-col>
      <ion-col col-1> </ion-col>
    </ion-row>
    <div class="hover_list">
      <ion-row *ngFor="let post of post_list">
        <ion-col col-1>
          {{post.index}}
        </ion-col>
        <ion-col col-3>
          {{post.title}}
        </ion-col>
        <ion-col col-2>
          {{post.name}}
        </ion-col>
        <ion-col col-1>
          {{post.type}}
        </ion-col>
        <ion-col col-2>
          {{post.phone}}
        </ion-col>
        <ion-col col-2>
          {{post.address}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="trash" (click)="remove_user(user.id)" *ngIf="service.p.user && user.role < 3"></ion-icon>
          <ion-icon name="create" (click)="edit_user(user)" *ngIf="service.p.user && user.role < 3"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <button ion-button (click)="moreuser()" *ngIf="isusernext">
      {{lang.loadmore}}
    </button>
  </div>
</ion-content>
